﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = null;
}

@using (Html.BeginForm("Send", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input name="file" type="file" />
        <button type="submit">
            Send
        </button>
    </div>
}